

  .course-categories {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%; /* Adjust for smaller screens */
    margin-left: 5%;
    margin-top: 10%;
    background-color:rgb(193, 190, 190);
    border-radius: 20px;
  }
  /* rgb(0, 119, 255); */
  .course-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border: 1px solid black; /* Change border color to light blue */
    border-radius: 20px;
    cursor: pointer;
  }
  
  .course-category:hover {
    background-color: rgba(175, 207, 237, 0.938);/* Change background color to light blue on hover */
  }
  
  .category-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white; /* Change text color to blue */
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .category-button i {
    font-size: 1.2rem; /* Adjust size as needed */
    transition: transform 0.2s ease-in-out;
  }
  
  .category-button.active i {
    transform: rotate(180deg); /* Rotate for open state */
  }
  
  .course-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(223, 223, 223); /* Change border color to light blue */
    border-top: none;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    background-color: rgb(223, 223, 223); /* Change background color to light blue */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .course-category.open .course-list {
    max-height: 200px;
  }
  
  .course-list li {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgb(223, 223, 223); /* Change border color to light blue */
  }
  
 .course-list li:hover {
    background-color: lightgray; 
  } 
  .fas.fa-chevron-down {
    font-size: 1.2rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .course-button.active .fas.fa-chevron-down {
    transform: rotate(180deg);
  }
  