<<<<<<< HEAD
/* Navbar.css */
body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #001f3f;
  padding: 15px;
  width: 100%;
 /* This already expands the width, but... */
  min-width: 100vw; /* ...this ensures it fills the viewport even with horizontal margins/padding */
  box-sizing: border-box; /* Ensure padding/border doesn't affect width calculation */

  display: flex;
  justify-content: space-between;
}

.navbar a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ecf0f1;
}

.navbar-right {
  display: flex;
}

.login-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #3498db;
  transition: background-color 0.3s, color 0.3s;
}

.login-signup:hover {
  background-color: #001f3f;
  color: #fff;
}
=======

.navbar {
    background-color: #001f3f; /* Dark blue background color */
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar a {
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    color: #fff; /* White text color */
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #ecf0f1; /* Lighter color on hover */
  }
  
  .navbar-right {
    display: flex;
  }
  
  .login-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    color: #fff; /* White text color */
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px; /* Rounded corners */
    background-color: #3498db; /* Light blue background color */
    transition: background-color 0.3s, color 0.3s;
  }
  
  .login-signup:hover {
    background-color: #001f3f; /* Dark blue background color on hover */
    color: #fff; /* White text color on hover */
  }
  
>>>>>>> b80c47ec8c44704e1e0c1f22f1a427c378f007a1
